.container{
  background-color: #3b5998;
  color: white;
}

.form {
  width: 860;
}

.action-bar {
  background-color: #3b5998;
  color: white;
}

.label {
  font-weight: bold;
  margin-bottom: 5;
}

.input-container {
  padding: 10 40 10 10;
}

.input {
  padding: 10;
  border: 1 solid #ccc;
  border-radius: 5;
  color: black;
  background-color: white;
}

.btn-primary {
  background-color: #3b5998;
  color: white;
  padding: 10;
  border-radius: 5;
}

.error-label {
  color: red;
  font-size: 12;
}

.not-found-message {
  background-color: white;
  padding: 10;
  border-radius: 5;
  color: red;
  font-weight: bold;
  margin-top: 10;
}
